<template>
    <div>
        <HelloWorld msg="Welcome to Your Vue.js App"/>
        <router-link to="bye">Bye</router-link>
    </div>
</template>

<script>
    import HelloWorld from '../components/HelloWorld.vue'

    export default {
        name: 'app',
        components: {
            HelloWorld
        },
        mounted() {
            this.$http.get(this.$config.api_url + 'site/test-call').then((response) => {
                response = response.data;
                console.log(response.id);
            }).catch((error) => {
                console.log((error));
            });
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
